DB_AUTH_USER=sqlhunt
DB_AUTH_PASSWORD=
DB_AUTH_HOST=localhost
DB_AUTH_PORT=5432

DB_USERS_USER=sqlhunt
DB_USERS_PASSWORD=
DB_USERS_HOST=localhost
DB_USERS_PORT=5432

DB_INVESTIGATIONS_USER=sqlhunt
DB_INVESTIGATIONS_PASSWORD=
DB_INVESTIGATIONS_HOST=localhost
DB_INVESTIGATIONS_PORT=5432

DB_CELERY_USER=sqlhunt
DB_CELERY_PASSWORD=
DB_CELERY_HOST=localhost
DB_CELERY_PORT=5432

RABBITMQ_USER=sqlhunt
RABBITMQ_PASSWORD=
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672

SECRET_KEY=

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

GOOGLE_OAUTH_CLIENT_ID = 
GOOGLE_OAUTH_CLIENT_SECRET = 
GOOGLE_OAUTH_CALLBACK_URL = 
